@charset "utf-8"

@use 'base/variables' as *
@use 'base/reset' as *
@use 'base/typography' as *
@use 'utilities/mixins' as *

:root
  --gradient: linear-gradient(135deg, #{$primary} 0%, #{$secondary} 100%)

*::selection
  background: $accent
  color: $text

body
  @include flex-center
  min-height: 100dvh
  background: var(--gradient)
  padding: 2rem

.container
  width: min(100%, 800px)
  padding: 2.5rem
  margin: 0 auto
